.wrapper {
    max-width: 330px;
    margin: auto;
}
form {
    vertical-align: middle;
}
.additionalNotes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.note {
	width: 30px;
	background-color: rgba(211, 8, 150, 0.5);
	border: 1px solid black;

}
.note:hover {
	cursor: pointer;
}
p {
	margin: 0 0 0 0;
}
.more {
	color: #228B22;
}
.less {
	color: #DC143C;
}